body {
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 650px;
    margin: 0 auto;
    padding: 0 16px;
    min-height: 100vh;

    display: flex;
    flex-direction: column;


}

.main-content{
    flex-grow: 1;
}
footer {
    color: #666;
    border-top: 1px solid #eee;
    margin-top: 16px;
    padding: 16px 0;
}

header {
    margin-top: 16xp;
    margin-bottom: 48px;
}

h1{
    font-size: 64px;
    margin-bottom: 16px;
}

header a {
    color: #666;
    margin-right: 16px;
    text-decoration: none;
}

p a{
    text-decoration: none;
}
.portrait{
    width: 250px;
}

input {
    padding: 8px;

}

input:focus {
    outline: none;
}

button {
    padding: 9px;
    background: #333;
    border: none;
    color: #eee;
    cursor: pointer;
    transition: transform 80ms ease-in;
}

button:active{
    transform: scale(0.95);
}

button:focus {
    outline: none;
}